body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

#page-loader{
    width: 150px;
    height: 150px;
}

#page-loader circle{
    fill:none;
    stroke-width: 10;
    stroke-linecap: round;
}
   
#page-loader circle:nth-child(1){
    stroke: green;
    stroke-dasharray: 50;
    animation-delay: -2s;
}
    
#page-loader circle:nth-child(2){
    stroke: blue;
    stroke-dasharray: 100;
    animation-delay: -4s;
}

#page-loader circle:nth-child(3){
    stroke: rgb(102, 22, 22);
    stroke-dasharray: 180;
    animation-delay: -6s;
}    
    
#page-loader circle:nth-child(4){
    stroke: red;
    stroke-dasharray: 350;
    stroke-dashoffset: -100;
    animation-delay: -8s;
}
   
@keyframes loader {
    50%{
        transform: rotate(360deg);
    }
}
    
#page-loader circle{
    animation-name: loader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center center;
}

